/**/
body {
  background-color: rgb(165, 205, 240);
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
  height: 770px;
  border: 2px solid black;
  margin-left: 200px;
}

.scoreboard {
  border: none;
  width: 770px;
  margin-left: 200px;
  background-color: rgb(188, 220, 225);
}

h2 {
  text-align: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  background-color: rgb(212, 164, 130);
}

.mole {
  background-image: url(./img/images.jpeg);
}
